html,body{
    background: rgb(241, 240, 240);
    font-family: sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
    scroll-behavior: smooth;
}
*{
    text-decoration: none;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url('animation_640_knn85up1.gif')
        no-repeat   center;
    background-color: #fff;
    z-index: 999;
}
.nav{
    display: none;
}
.nav.sticky{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.nav .links a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 26%;
    height: 75px;
    /* margin-right: 25px; */
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: 0.4s;
}
.nav .links a:hover{
    background: rgba(243, 217, 145, 0.8);
    border-radius: 15px;
    color: rgb(255, 0, 85);
}
.nav .links a h2{
    /* height: 75px; */
    /* width: 100px; */
    color: #952;
}
.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}

/* landin */
.landing
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
     height: 100vh;
}
.landingtext h1{
    font-size: 6vw;
    margin: 0 !important;
}
.landingtext h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: 1;
    line-height: 30px;
    position: relative;
}
.landingtext h1 span{
    color: rgb(255, 108, 132);
}
.landingtext .btn{
    width: 120px;
    margin-top: 30px;
    font-size: 1.2vw;
    padding: 14px 20px 14px 20px;
    background: rgb(58, 255, 212);
    color: rgb(160, 255, 123);
    border-radius: 45px;
    text-align: center;
}
.landingtext .btn a{
    font-size: 1.2vw;
    color: #fff;
}
.landingimage img{
    width: 25vw;
}
.about{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.about img{
    width: 800px;
}
.abouttext{
    position: relative;
    padding: 0 50px;
    height: inherit;
}
.abouttext h1{
    position: relative;
    left: 110px;
}
.abouttext img{
    width: 40vw;
    position: relative;
    top: 50px;
}
.aboutlist{
    width: 100%;
}
.aboutlist p{
    font-size: 25px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
p{
    position: relative;
    font-size: 16px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 1;
}
.infosection{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    align-items: center;
}
#info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}
.infosection img{
    width: 500px;
    height: 400px;
    align-items: center;
}
.im{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 400px;
    align-items: center;
}
.infoheader div{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content:  center;
    color: black;
    margin-left: 20px;
}
.aboutlist p span{
    color: chocolate;
}
.infoheader div p{
    font-size: 16px;
}
.infoheader div p span{
    font-size: 20px;
    color: chocolate;
}
.infoheader{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.infoheader h3{
    margin-left: 30px;
    color: chocolate;
}
#three{
    margin-top: 50px;
    height: 500px;
    width: 600px;
}
@media (max-width: 992px){
.nav{
    justify-content: space-around;
    padding: 20px;
    height: auto;
    overflow-y: hidden;
}
.links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}
.links a{
    margin-right: 25px;
    font-size: 12px;
    font-weight: 600;
}
.landing{
    flex-direction: column-reverse;
    height: 700px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.landingtext h1{
    font-size: 6vw;
    margin: 0 !important;
}
.landingtext h3{
    font-size: 16px;
}
.landingtext .btn{
    margin: 0 auto;
}
.landingtext .btn a{
    font-size: 3vw;
}
.landingimage img{
    width: 62vw;
    margin-bottom: 20px;
}
.about{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.abouttext{
    /* margin-left: 50px; */
    /* padding: 0 50px; */
    width: 100%;

}
.abouttext h1{
    left: 40px;
    font-size: 5vw;
}
.abouttext img{
    width: 50vw;
    top: 10px;
    left: -30px;
}
.aboutlist{
    width: 100%;
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}
.aboutlist p{
    margin: 0;
    font-size: 16px;
}
.infosection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoheader{
    align-items: center;
}
#three{
    width: 100%;
}
}
.container{
    position: relative;
    width: 100%;
    background: rgb(211, 197, 197);
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .tex{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.post{
    display: none;
}
.container .star-widget input{
    display: none;

}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s all;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe8;
    text-shadow: 0 0 20px #952;
}
#rate-1:checked ~form header::before{
    content: "Thik-Thak 🥱";
}
#rate-2:checked ~form header::before{
    content: "Thik 😑";
}
#rate-3:checked ~form header::before{
    content: "Accha bhi nai bhura bi nai 😕";
}
#rate-4:checked ~form header::before{
    content: "Accha 😏";
}
#rate-5:checked ~form header::before{
    content: "Bahut badhia 🤩";
}
.container form{
    display: none;
}
input:checked ~ form{
    display: block;
}
form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow:hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border:1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    color: #eee;
    resize: none;
}
form .bbttn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .bbttn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: rgb(44, 44, 44);
    color: #999;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}
form .bbttn button:hover
{
    border-radius: 15px;
    background: #333;
}
.what{
    font-size: 3em;
}
.what span{
    color: chocolate;
}
.Resources{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px 0px;
}
.Resources .kuch{
    position: relative;
    height: 300px;
    background: #fff;
    display: flex;
    opacity: 0.8;
    width: 45%;
    margin: 30px 0;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    /* border-top: 1px solid rgba(114, 114, 113, 1); */
    /* border-left: 1px solid rgba(114, 114, 133, 1); */
}
.Resources .kuch .imgBx{
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    transition: 0.5s ease-in-out;
}
.Resources .kuch:hover .imgBx{
    height: 150px;
    width: 150px;
    left: -75px;
    top: calc(50% - 75px);
}
.Resources .kuch .imgBx img{
    max-width: 100px;
    /* filter: invert(1); */
    transition: 0.5s ease-in-out;
}
.Resources .kuch:hover .imgBx img{
    max-width: 75px;
}
.Resources .kuch .content{
    position: absolute;
    right: 0;
    width: calc(100% -50px);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Resources .kuch .content h3{
    color: hsl(340, 100%, 50%);
    margin-top: 10vh;
    font-size: 24px;
}
/* .Resources .kuch .content .read_more{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    background: #0095ff;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
} */

.sci{
    position: absolute;
    bottom: 10px;
    display: flex;
    margin-left: 50px;
}
.sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition-delay: calc(0.1s * var(--i));
}
.kuch:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
} 
.sci li a img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.content h4{
    color: rgb(240, 77, 17);
    margin-bottom: 25vh;
    font-size: 1.5rem;
}
.learn{
    margin-left: 20%;
    margin-right: 20%;
}
.learn h1{
    justify-items: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-left: 20vw;
}
footer{
    background: rgb(145, 133, 133);
    height: auto;
    /* width: 1000vw; */
    font-family: "Open Sans";
    padding-top: 40px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: center;
    justify-items: center;
    /* justify-content: center; */
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalise;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-style: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: black;
}
.socials a i{
    font-size: 1.7rem;
    transition: color .1s ease-in-out;
}
.socials a:hover i{
    color: rgb(0, 81, 255);
}
.footer-bottom{
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.competetion .box img{
    border-radius: 180px;
    height: 120px;
    width: 120px;
}
.cod{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    font-family: sans-serif;
}
.competetion{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
}
.box{
    position: relative;
    background: #fff;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}
.competetion .box:nth-child(1)
{
    background: linear-gradient(45deg,#fbff00,#ff8454);
}
.competetion .box:nth-child(2)
{
    background: linear-gradient(45deg,#fbff00,#ff8454);
}
.competetion .box:nth-child(3)
{
    background: linear-gradient(45deg,#fbff00,#ff8454);
}
.competetion .box a button
{
    border-radius: 10px;
    height: 40px;
    border: 0px;
    width: 100px;
    background: transparent;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 600;
    margin: 10px;
}
.competetion .box a button:hover{
    background: rgb(85, 84, 84);
    color: rgb(255, 255, 255);
}
.competetion h2{
    position: relative;
    margin: 10px;
    padding: 0;
    color: rgb(46, 46, 46);
    z-index: 1;
}
@media (max-width: 992px)
{
    .container{
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        max-width: 300px;
        height: auto;
        flex-direction: column;
        background: transparent;
        margin: -20px 0;
        box-shadow: none;
    }
    .container .card .imgBx{
        position: relative;
    }
    .container .card .imgBx,
    .container .card:hover .imgBx{
        width: 80%;
        height: 200px;
        top: 100px;
        left: 10%;
    }
    .container .card:hover .imgBx{
        top: 80px;
    }
    .container .card .imgBx img,
    .container .card:hover .imgBx img
    {
        max-width: 100px;
    }
    .container .card .content{
        position: relative;
        width: 100%;
        background: #fff;
        box-shadow: none;
        border-top: 100px solid #fff;
        border-radius: 20px;
        padding: 20px 40px 40px;
    }
}
@media (max-width:920px){
    .learn{
        display: grid;
        grid-template-columns: 100vw;
        align-items: center;
        justify-content: center;
    }
    .Resources
    {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100vh;
    }
    .kuch{
        display: grid;
        flex-direction: column;
        margin: 0;
        padding: 0;

    }
    .sci{
        margin: 0px;
    }
}
.visitors{
    margin-left: 400px;
    font-size: 25px;
    
}
#count{
    padding-top: 10px;
    font-size: 50px;
    color: rgb(235, 235, 235);
    font-style: inherit;
}